.item {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  cursor: pointer;
  /* border: 1px solid grey; */
}

.sub-item {
  flex-basis: 24%;
  height: 220px;
  background-color: white;
  margin: 0.5rem 0.25rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px 1px rgba(64, 61, 92, 0.07);
}
.sub-item:hover {
  box-shadow: 2px 8px 15px 5px rgba(0, 0, 0, 0.226);
}
.catalog-desc {
  display: flex;
  justify-content: space-between;
  background-color: #216bac;
}
.catalog-img {
  height: 177px;
  text-align: center;
}

.catalog-desc {
  color: #fff;
  padding: 0.38rem;
}
