html {
  height: 100%;
}

body {
  min-height: 100%;
}

#app-container {
  min-height: 100vh;
}

#content {
  min-height: calc(100vh - 118px);
  margin: 1rem;
}

#footer {
  clear: both;
  position: relative;
  height: 43px;
  width: 100%;
  /* margin-top: -200px; */
  background: #343434;
}
